* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.search {
  text-align: center;
}
.result {
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
}
.results {
  width: 50vw;
  height: 80vh;
  margin-top: 5vh;
  font-size: 12px;
}
.map {
  position: fixed;
  margin-top: 5vh;
  right: 0;
}
.gmap {
  width: 50vw;
  height: 95vh;
}
.rating {
  background-color: black;
  color: white;
  font-size: 18px;
  align-self: flex-end;
  padding: 4px;
}
.details {
  margin-left: 15px;
  width: calc(50vw - 150px);
}
.title-head {
  display: flex;
  justify-content: space-between;
}
.top-bar {
  display: flex;
  height: 5vh;
  width: 100vw;
  top: 0;
  position: fixed;
  background-color: darkslateblue;
  align-items: center;
}
.bar {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: space-between;
}
.brand {
  padding: 5px;
  margin-right: 15px;
  color: white;
  font-size: 3vmin;
}
.search > button {
  border: white 1px solid;
  background: transparent;
  color: white;
  padding: 3px;
  margin-left: 15px;
}
.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
.address {
  margin-top: 16px;
}
hr {
  border-top: 1px solid #8c8b8b;
  width: 50vw;
}
@media (max-width: 768px) {
  .results,
  .result,
  .gmap {
    width: 100vw;
    padding: 0;
  }
  .gmap {
    height: 40vh;
  }
  .results {
    margin-top: 45vh;
    height: 45vh;
  }
  .container {
    flex-direction: column;
  }
  hr,
  .details {
    width: 100vw;
  }
  .details {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .result > img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
}
