* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.container {
  display: flex;
}
.Search {
  text-align: center;
}
.Results {
  width: 50vw;
  height: 80vh;
}
.Map {
  position: fixed;
  margin-top: 5vh;
  right: 0;
}
